{% load static %}
{% load active_link_tags %}
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <div class="container">
    <nav>
      {% with request.resolver_match.view_name as view_name %}
        <a href="/">
          <img src='{% static "/img/favicon.ico" %}' alt="" height="40">
        </a>
        <nav style="float:right">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a href="{% url 'homepage:main' %}"
               class="nav-link {% if view_name == 'homepage:main' %}active{% endif %}">Главная</a>
            {% if user.is_authenticated %}
              <a href="{% url 'users:logout' %}"
                 class="nav-link {% if view_name == 'users:logout' %}active{% endif %}"
                 style="float: left">Выйти</a>
            {% else %}
              <a href="{% url 'users:login' %}"
                 class="nav-link {% if view_name == 'users:login' %}active{% endif %}"
                 style="float: left">Войти</a>
            {% endif %}
          </div>
        </nav>
      {% endwith %}
    </nav>
  </div>
</header>
