{% extends "base.html" %}

{% block title %}ProSport Calendar{% endblock %}

{% block content %}

  <h1 class="text-center mb-4">Список спортивных мероприятий</h1>

  <!-- Выбор количества строк на странице -->

  <div class="row mt-3 mb-3">
    <form method="GET" action="">
      <label for="tip">Тип</label>
      <select name="tip" id="tip" onchange="this.form.submit()">
        <option value="">Все</option> <!-- Option for no filter -->
        {% for option in tips %}
        <option value="{{ option }}" {% if option == request.GET.tip %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
      </select>

      <label for="group">Пол</label>
      <select name="gender" id="gender" onchange="this.form.submit()">
        <option value="">Все</option>
        {% for option in genders %}
        <option value="{{ option }}" {% if option == request.GET.gender %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
      </select>

      <label for="group">Вид спорта</label>
      <select name="group" id="group" onchange="this.form.submit()">
        <option value="">Все</option>
        {% for option in groups %}
        <option value="{{ option }}" {% if option == request.GET.group %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
      </select>

      <label for="structure">Возврастная группа</label>
      <select name="structure" id="structure" onchange="this.form.submit()">
        <option value="">Все</option>
        {% for option in structures %}
        <option value="{{ option }}" {% if option == request.GET.structure %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
      </select>

      <label for="place">Место</label>
      <input type="text" name="place" id="place" value="{{ request.GET.place }}" placeholder="Введите место проведения" onchange="this.form.submit()"/>

      <label for="participants_count">Количество участников</label>
      <input type="number" name="participants_count" id="participants_count" value="{{ request.GET.participants_count }}" min="1" placeholder="Введите количество участников" onchange="this.form.submit()"/>

      <label for="place">Дисциплина</label>
      <input type="text" name="disciple" id="disciple" value="{{ request.GET.disciple }}" placeholder="Введите дисциплину" onchange="this.form.submit()"/>

      <label for="rows_per_page">Показывать:</label>
      <select name="rows_per_page" id="rows_per_page" onchange="this.form.submit()">
        {% for option in rows_per_page_options %}
        <option value="{{ option }}" {% if option == request.GET.rows_per_page %}selected{% endif %}>{{ option }}</option>
        {% endfor %}
      </select>

      <!-- Кнопки для фильтрации по датам -->
      <div class="date-filters mt-3">
        <label>Выберите период:</label>
        <div class="btn-group" role="group">
          <button type="submit" name="event_period" value="upcoming" class="btn btn-secondary {% if request.GET.event_period == 'upcoming' %}active{% endif %}">Ближайшие мероприятия</button>
          <button type="submit" name="event_period" value="this_week" class="btn btn-secondary {% if request.GET.event_period == 'this_week' %}active{% endif %}">Мероприятия текущей недели</button>
          <button type="submit" name="event_period" value="next_month" class="btn btn-secondary {% if request.GET.event_period == 'next_month' %}active{% endif %}">Мероприятия следующего месяца</button>
          <button type="submit" name="event_period" value="next_quarter" class="btn btn-secondary {% if request.GET.event_period == 'next_quarter' %}active{% endif %}">Мероприятия квартала</button>
          <button type="submit" name="event_period" value="next_half_year" class="btn btn-secondary {% if request.GET.event_period == 'next_half_year' %}active{% endif %}">Мероприятия полугодия</button>
        </div>
      </div>
    </form>
  </div>

  <!-- Пагинатор -->
  {% if page_obj.paginator.num_pages > 1 %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <!-- Кнопка на первую страницу -->
      <li class="page-item {% if page_obj.number == 1 %}disabled{% endif %}">
        <a class="page-link" href="?page=1&rows_per_page={{ request.GET.rows_per_page }}&tip={{ request.GET.tip }}&group={{ request.GET.group }}&structure={{ request.GET.structure }}&participants_count={{ request.GET.participants_count }}&event_period={{ request.GET.event_period }}&place={{ request.GET.place }}&gender={{ request.GET.gender }}&disciple={{ request.GET.disciple }}"><<</a>
      </li>

      <!-- Предыдущая страница -->
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&tip={{ request.GET.tip }}&group={{ request.GET.group }}&structure={{ request.GET.structure }}&participants_count={{ request.GET.participants_count }}&event_period={{ request.GET.event_period }}&place={{ request.GET.place }}&gender={{ request.GET.gender }}&disciple={{ request.GET.disciple }}"><</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link"><</span>
      </li>
      {% endif %}

      <!-- Текущая страница -->
      <form method="GET" style="display: inline-block;" class="mx-2">
        <input type="hidden" name="rows_per_page" value="{{ request.GET.rows_per_page }}" />
        <input type="number" min="1" max="{{ page_obj.paginator.num_pages }}" step="1"
               name="page" value="{{ page_obj.number }}" size="3" style="width: 60px;"
               onchange="this.form.submit();" readonly />
      </form>

      <!-- Следующая страница -->
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}&tip={{ request.GET.tip }}&group={{ request.GET.group }}&structure={{ request.GET.structure }}&participants_count={{ request.GET.participants_count }}&event_period={{ request.GET.event_period }}&place={{ request.GET.place }}&gender={{ request.GET.gender }}&disciple={{ request.GET.disciple }}">></a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">></span>
      </li>
      {% endif %}

      <!-- Последняя страница -->
      <li class="page-item {% if page_obj.paginator.num_pages == page_obj.number %}disabled{% endif %}">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&tip={{ request.GET.tip }}&group={{ request.GET.group }}&structure={{ request.GET.structure }}&participants_count={{ request.GET.participants_count }}&event_period={{ request.GET.event_period }}&place={{ request.GET.place }}&gender={{ request.GET.gender }}&disciple={{ request.GET.disciple }}">>></a>
      </li>
    </ul>
  </nav>
  {% endif %}

  <!-- Таблица с данными -->
  <table class="table table-striped table-hover table-bordered align-middle text-center">
    <thead class="table-dark">
      <tr>
        <th>№</th>
        <th>СМ в ЕКП</th>
        <th>Вид спорта</th>
        <th>Состав</th>
        <th>Наименование спортивного мероприятия<br>(пол, возрастная группа)<br>(дисциплина, программа)</th>
        <th>Сроки проведения</th>
        <th>Место проведения<br>(страна (-ы), субъект РФ, город)<br>(спортивная база, центр)</th>
        <th>Количество участников<br>(чел.)</th>
      </tr>
    </thead>
    <tbody>
      {% for item in page_obj.object_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.slug }}</td>
        <td>{{ item.group.name }}</td>
        <td>{{ item.structure.name }}</td>
        <td>
          <strong>{{ item.name }}</strong><br>
          {{ item.text }}
        </td>
        <td>
          {{ item.date_start|date:"d.m.Y" }}<br>
          {{ item.date_end|date:"d.m.Y" }}
        </td>
        <td>{{ item.place }}</td>
        <td>{{ item.count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}