{% extends "base.html" %}

{% block title %}Настройки уведомлений{% endblock title %}

{% block content %}

<div class="container">
  <h1>Настройки уведомлений</h1>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <div class="row mt-3 mb-3">
    <form method="GET" action="" class="d-flex flex-wrap justify-content-between">
      <div class="form-group">
        <label for="tip">Тип</label>
        <select name="tip" id="tip" class="form-control" onchange="this.form.submit()">
          <option value="">Все</option> <!-- Option for no filter -->
          {% for option in tips %}
            <option value="{{ option }}" {% if option == request.GET.tip %}selected{% endif %}>{{ option }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="gender">Пол</label>
        <select name="gender" id="gender" class="form-control" onchange="this.form.submit()">
          <option value="">Все</option>
          {% for option in genders %}
            <option value="{{ option }}" {% if option == request.GET.gender %}selected{% endif %}>{{ option }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="group">Вид спорта</label>
        <select name="group" id="group" class="form-control" onchange="this.form.submit()">
          <option value="">Все</option>
          {% for option in groups %}
            <option value="{{ option }}" {% if option == request.GET.group %}selected{% endif %}>{{ option }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="structure">Возврастная группа</label>
        <select name="structure" id="structure" class="form-control" onchange="this.form.submit()">
          <option value="">Все</option>
          {% for option in structures %}
            <option value="{{ option }}" {% if option == request.GET.structure %}selected{% endif %}>{{ option }}</option>
          {% endfor %}
        </select>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
