{% load static %}
<header class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
  <div class="container">
    <a href="/" class="navbar-brand">
      <img src="{% static 'img/logo.svg' %}" alt="ProSport Calendar" height="50" class="me-2">
      ProSport Calendar
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'homepage:main' %}active{% endif %}" href="{% url 'homepage:main' %}">Главная</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:logout' %}">Выйти</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
        </li>
        {% endif %}
        {% if user.is_superuser %}
        <li>
          <a href="{% url 'homepage:update_db' %}"
             class="nav-link"
             style="float: left">Обновить базу данных</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</header>
